{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <style>
    /* Add custom CSS to hide the "Login" link on the login page */
    #login-link {
      display: none;
    }
  </style>
  <div class="login-container">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
{% endblock %}
